*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(131, 130, 130);
}
body{
    font-family: 'Recursive', sans-serif;
}



p{
    line-height: 1.7;
    color: rgb(141, 141, 141);

}



/*start of navbar*/



 .nav .col-md-7 li{
    border: none;
    text-transform: capitalize;
    font-size: 20px;
   overflow: hidden;

}
.nav li a {
    text-decoration: none;
    color: rgb(141, 141, 141);
}

@media(min-width:1200px){
 
    .nav .col-md-7 li{

        font-size: 25px;
    
    
    }
}

/*end of*/










